aioredis
aldryn-apphooks-config
amqp
asgiref
async-timeout
attrs
autobahn
Automat
backcall
beautifulsoup4
billiard
celery
certifi
cffi
channels
channels-redis
chardet
constantly
coreapi
coreschema
cryptography
daphne
decorator
defusedxml
Django==4.1.2
django-appdata
django-celery-beat
django-ckeditor
django-classy-tags
django-cms
django-cookie-law
django-cors-headers
django-environ
django-extensions
django-fieldsets-with-inlines
django-filer
django-filter
django-formtools
django-import-export
django-4-jet
django-js-asset
django-meta
django-mptt
django-parler
django-permanent
django-polymorphic
django-redis
django-sekizai
django-sortedm2m
django-taggit
django-taggit-autosuggest
django-taggit-templatetags
django-templatetag-sugar
django-timezone-field
django-treebeard
djangocms-admin-style
djangorestframework
drf-yasg
easy-thumbnails
et-xmlfile
fpdf
geoip2
hiredis
html5lib
hyperlink
idna
importlib-metadata
incremental
inflection
ipython
ipython-genutils
itypes
jdcal
jedi
Jinja2
Khayyam
kombu
lxml
MarkupPy
MarkupSafe
maxminddb
msgpack
mysqlclient
odfpy
openpyxl
packaging
parso
pexpect
pickleshare
Pillow
prompt-toolkit
ptyprocess
pyasn1
pyasn1-modules
pycparser
Pygments
PyHamcrest
pyOpenSSL
pyparsing
PyPDF2
pytest-runner
python-crontab
python-dateutil
pytz
PyYAML
redis
reportlab
requests
ruamel.yaml
ruamel.yaml.clib
service-identity
six
soupsieve
sqlparse
tablib
traitlets
Twisted
txaio
typing-extensions
Unidecode
uritemplate
urllib3
uuid
vine
wcwidth
webencodings
xhtml2pdf
xlrd
XlsxWriter
xlwt
zipp
zope.interface
pytz
requests
urllib3
httplib2
google-auth-oauthlib
google-api-python-client
oauth2client
google-auth-httplib2
google-cloud-firestore
firebase-admin
google-cloud-speech
google-cloud-texttospeech
google-cloud-translate
backports.zoneinfo
bidict
python-engineio
python-socketio
sqlparse
aiohttp