{% extends 'base.html' %}

{% block content %}

    <!-- Start Featured Product -->
    <section class="bg-light">
        <div class="container py-5">
            <div class="row text-center py-3">
                <div class="col-lg-6 m-auto">
                    <h1 class="h1">Featured Product</h1>
                    <p>
                        List of featured products
                    </p>
                </div>
            </div>
            <div class="row">
                {% for product in products %}
                    <div class="col-12 col-md-4 mb-4">
                        <div class="card h-100">
                            <a href="/detail/{{ product.id }}/">
                                <img src="{{ product.image.url}}" width="200" height="200" class="card-img-top" alt="{{ product.name }}">
                            </a>
                            <div class="card-body">
                                <ul class="list-unstyled d-flex justify-content-between">
                                    <li>
                                        <i class="text-warning fa fa-star"></i>
                                        <i class="text-warning fa fa-star"></i>
                                        <i class="text-warning fa fa-star"></i>
                                        <i class="text-muted fa fa-star"></i>
                                        <i class="text-muted fa fa-star"></i>
                                    </li>
                                    <li class="text-muted text-right">${{ product.price}}</li>
                                </ul>
                                <a href="/detail/{{ product.id }}/" class="h2 text-decoration-none text-dark">{{ product.name}}</a>
                                <p class="card-text">
                                    {{ product.description}}
                                </p>
                                <p class="text-muted">Reviews (24)</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <!-- End Featured Product -->
{% endblock content %}
