{% extends 'base.html' %}
{% load static %}
{% block content %}
    <section class="bg-light">
        <div class="container py-5">
            <div class="row text-left py-3">
                <div class="container">
                    <form action="/" method="get">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="table_filter">Search Keyword</label>
                                    <input id="table_filter" type="text" value="{{ q }}" name="q" class="form-control"
                                           aria-label="Text input with segmented button dropdown">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="category">Category</label>
                                    <select class="form-control" name="category" id="category">
                                        {% if not selected_category %}
                                            <option value="" selected>All</option>
                                        {% else %}
                                            <option value="0">All</option>
                                        {% endif %}
                                        {% for category in categories %}
                                            {% if selected_category == category.id %}
                                                <option value="{{ category.id }}" selected>{{ category.name }}</option>
                                            {% else %}
                                                <option value="{{ category.id }}">{{ category.name }}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>

                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label for="category">Sort by</label>
                                    <select class="form-control" name="sort" id="sort">
                                        {% for s in sorts %}
                                            {% if sort == s.value %}
                                                <option value="{{ s.value }}" selected>{{ s.text }}</option>
                                            {% else %}
                                                <option value="{{ s.value }}">{{ s.text }}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>

                                </div>
                            </div>
                            <div class="col-md-1">
                                <div class="form-group">
                                    <button id="searchBtn" type="submit" class="btn mt-4 btn-secondary btn-search"><span
                                            class="glyphicon glyphicon-search">&nbsp;</span> <span
                                            class="label-icon">Search</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row infinite-container content-section">
                {% for product in products %}
                    {% include 'product_cart.html' with product=product %}
                {% endfor %}

            </div>
            {% if page_obj.has_next %}
                <div>
                    <a class="infinite-more-link" href="?page={{ page_obj.next_page_number }}"></a>
                    <button class="load-more-button" onclick="load_more()">Load more deals</button>
                </div>
            {% else %}
                <!--
                <div class="d-flex justify-content-center" style="display:none;">
                    <div class="spinner-border" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
                -->
            {% endif %}
        </div>

    </section>
{% endblock content %}
