{% extends 'base.html' %}
{% load static %}
{% block content %}

    <!-- Start Featured Product -->
    <section class="bg-light">
        <div class="container py-5">
            <div class="row text-left py-3">
                <div class="container">
                    <form action="/" method="get">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="table_filter">Search Keyword</label>
                                    <input id="table_filter" type="text" value="{{ q }}" name="q" class="form-control"
                                           aria-label="Text input with segmented button dropdown">
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="category">Category</label>
                                    <select class="form-control" name="category" id="category">
                                        {% if not selected_category %}
                                            <option value="" selected>All</option>
                                        {% else %}
                                            <option value="0">All</option>
                                        {% endif %}
                                        {% for category in categories %}
                                            {% if selected_category == category.id %}
                                                <option value="{{ category.id }}" selected>{{ category.name }}</option>
                                            {% else %}
                                                <option value="{{ category.id }}">{{ category.name }}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>

                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <button id="searchBtn" type="submit" class="btn mt-4 btn-secondary btn-search"><span
                                            class="glyphicon glyphicon-search">&nbsp;</span> <span
                                            class="label-icon">Search</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row">
                {% for product in products %}
                    <div class="col-12 col-md-4 mb-4">
                        <div class="card h-100">
                            <a href="/detail/{{ product.id }}/">
                                {% if product.disp_image %}
                                    <img src="{{ product.disp_image }}" width="200" height="200" class="card-img-top"
                                         alt="{{ product.name }}">
                                {% else %}
                                    <img src="{% static "assets/img/noproduct.jpg" %}" width="200" height="200"
                                         class="card-img-top" alt="{{ product.name }}">
                                {% endif %}
                            </a>
                            <div class="card-body">
                                <ul class="list-unstyled d-flex justify-content-between">
                                    <li>
                                        <i class="text-warning fa fa-star"></i>
                                        <i class="text-warning fa fa-star"></i>
                                        <i class="text-warning fa fa-star"></i>
                                        <i class="text-muted fa fa-star"></i>
                                        <i class="text-muted fa fa-star"></i>
                                    </li>
                                    <li class="text-muted text-right">${{ product.price }}</li>
                                </ul>
                                <a href="/detail/{{ product.id }}/"
                                   class="h2 text-decoration-none text-dark">{{ product.name }}</a>
                                <p class="card-text">
                                    {{ product.description }}
                                </p>
                                <p class="text-muted">Reviews (24)</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <!-- End Featured Product -->
{% endblock content %}
