<div class="py-5">
<div class="o_home__products__grid mb-5">
<div class="cm_card__product">
	<div class="cm_card__product__head">
			<svg class="filled"><use href="/Themes/ReviewChannel/Content/images/sprites.svg#star"></use></svg>
			<svg class="filled"><use href="/Themes/ReviewChannel/Content/images/sprites.svg#star"></use></svg>
			<svg class="filled"><use href="/Themes/ReviewChannel/Content/images/sprites.svg#star"></use></svg>
			<svg class="filled"><use href="/Themes/ReviewChannel/Content/images/sprites.svg#star"></use></svg>
			<svg class="filled"><use href="/Themes/ReviewChannel/Content/images/sprites.svg#star"></use></svg>
			<small class="fw-semi-bold">217 ratings</small>
		<span class="cm_card__product__category ms-auto">

			Electronics

		</span>
	</div>
	<div class="cm_card__product__off">
			<small class="fw-semi-bold"> 100% OFF</small>
	</div>
	<div class="cm_card__product__thumbnail">
			<img src="https://reviewerschannel.com/images/thumbs/0225334_smartwatch-android-waterproof-fitness_440.jpg" alt="Image1" title="Image1">
	</div>
	<p class="cm_card__product__title fw-semi-bold">
		<a href="/p/PU3A0009" target="_blank" class="stretched-link">
			Smart Watch, Touch Screen Smar...
		</a>

	</p>


	<div class="cm_card__product__price">

			<span class="primary fw-semi-bold">$0.000</span>

			<del>$29.990 </del>
	</div>
</div>
</div>
    </div>