/*
Custom Css
*/
.color-dot-blue {
    color: chocolate;
    font-size: xx-large;
    font-weight: bolder;
}
img.card__image {
    object-fit: scale-down;
    max-height: 320px;
    min-height: 320px;
    max-width: 100%;
}

.card-main {

}
.cart-head {
    display: flex;
    background: floralwhite;
    color: gray;
    width: 100%;
}
.rating{
    background: floralwhite;
}
.link-no-line{
    text-decoration: none;
}

.off-price {
    background: floralwhite;
    padding: 10px;
}
.old-price{
    color: darkgray;
}
.final-price{
    font-weight: bolder ;
    color: green;
}
 .button{
    border-radius: 3px;
    background: darkblue;
    color: white;
    padding: 0.4em 1em;
    border: 0;
    line-height: 1.6;
    display: inline-block;
    font-family: inherit;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease;
    box-shadow: 0px 0px 0px -7px rgb(0 0 0 / 0%);
}
 .offer_button {
    font-weight: 700;
    font-size: 16px;
    width: 100%;
    padding: 10px;
    text-align: center;
}
 .price{
    width: fit-content;
 }
 .category{
     width: 100%;
     padding: 5px;
     color: gray;
 }
 .view-count{
     width: 5rem;
     padding: 5px;
 }
.card_more_info{
    color: gray;
    text-align: center;
    margin-top: 0px;
}
.more_info{
    padding-left: 25%;
    padding-right: 25%;
    padding-top: 30px;
}
.logo-img{
    padding-right: 20px;
    min-width: 80px;
    max-width: 80px;
}
.logo-text{
    color: #fd7e14;

}
.card-text {
  min-height: 75px;
}

.load-more-button{
    text-align: center;
    color: white;
    background: #fd7e14;
    font-weight: bold;
    display: flow-root;
    width: 100%;
    padding: 10px;
}
.load-more-lable{
    text-align: center;
    color: darkgrey;
    width: 100%;
}

.m-btn{
    border: none;
    background: transparent;
}

.icon {
    display: block;
    width: 100%;
    height: 7vh;
    border-radius:100% 100% 100% 0%;
    border: 2px solid gold;
    /*margin: 1rem 1rem 1rem 1rem;*/
}
.blue-checked-icon:hover,.green-checked-icon:hover,.red-checked-icon:hover{
    fill: gray;
    color: gray;
}
.blue-unchecked-icon,.green-unchecked-icon,.red-unchecked-icon{
    color: gray;
    fill: gray;
}
.green-checked-icon{
    color: green;
    fill: green;
}
.green-unchecked-icon:hover{
    fill: green;
    color: green;
}
.blue-checked-icon{
    color: blue;
    fill: blue;
}
.blue-unchecked-icon:hover{
    fill: blue;
    color: blue;
}
.red-checked-icon{
    color: red;
    fill: red;
}
.red-unchecked-icon:hover{
    fill: red;
    color: red;
}
.product-image{
    width: 85%;
}
.like-dislike {
    top: 5px;
    display: block;
    width: 15%;
}
.like-bar{
    margin-top: 20%;
    max-width: 90%;
    alignment: center;
    display: flex;
    flex-direction: column;
    background: floralwhite;
}
.like-cell{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin-top: 5%;
}
.product-table {
    display: flex;
}
.action-counter {
    text-align: center;
    position: relative;
    top: -3px;
    left: 0px;
    width: 100%;
}
.green{
    color: green;
}
.blue{
    color: blue;
}
.red{
    color: red;
}
/* ---------------*/

.opening{
	background-color: red;
	width:60px;
	height:60px;
	border-radius:50%;
	position:relative}

.list-header {
    width: 100%;
    color: darkgray;
}






